@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --dark-primary: #1b1f24;
    --light-primary: #12bdff;
    --mont-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark-primary);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

 header ul li {
    margin-right: 30px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    color: var(--light-primary);
    cursor: pointer;
}

.montserrat-uniquifier {
    font-family: var(--mont-font);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    font-family: var(--mont-font) ;
}

header button{
    font-family:var(--mont-font);
    padding: 10px 20px;
    background-color: var(--dark-primary);
    border: 1px solid var(--light-primary);
    color: var(--light-primary);
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition effect */
    position: relative;
    z-index: 10; /* Ensure buttons stay above the photo */
    font-weight: 600;
}

header button:hover{
    box-shadow: 0 8px 16px rgba(18, 189, 255, 0.4); /* Enhance shadow */
    transform: translateY(-2px); /* Slightly move the button upwards */
    cursor: pointer;
    background-color:var(--light-primary);
    color: #fff;
}

.high{
    color: var(--light-primary);
    font-weight:bold;
    font-size:  20px;

}

/*section hero page main*/
section.hero-section{
    background-color: var(--dark-primary);
    color:#fff;
    display: flex;
    align-items:center;
    padding:20px 120px 20px 240px;
     
}
.main-button{
    font-family:var(--mont-font);
    padding: 10px 20px;
    background-color: var(--dark-primary);
    border: 1px solid var(--light-primary);
    color: var(--light-primary);
    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-weight: 600;

}

.main-button:hover{
    box-shadow: 0 8px 16px rgba(18, 189, 255, 0.4); /* Enhance shadow */
    transform: translateY(-2px); /* Slightly move the button upwards */
    cursor: pointer;
    background-color: var(--light-primary);
    color: #fff;

}

.hero-section__title{
    font-size: 48px;
    font-weight:  900;
}
.hero-section__title > span{
    color: var(--light-primary);
}



main ul li{
    margin-right: 20px;
    text-decoration: none;
    display: flex;

}
main ul li a:hover{
   color: var(--light-primary);
   cursor: pointer;
}

.main_img {
    transform: translateY(-100px); /* Adjust the value to move the photo higher */
    display: block; /* Ensure it's a block element if needed */
    max-width: 100%; /* Ensure it doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1; /* Ensure it doesn't interfere with hover effects */
    padding-left: 40px;
}















