@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --dark-primary: #1b1f24;
  --light-primary: #12bdff;
  --secdark-primary: #22282f;
  --mont-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* smooth */
html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--dark-primary);
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 30px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  color: var(--light-primary);
  cursor: pointer;
}

.montserrat-uniquifier {
  font-family: var(--mont-font);
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  font-family: var(--mont-font);
}

header button {
  font-family: var(--mont-font);
  padding: 10px 20px;
  background-color: var(--dark-primary);
  border: 1px solid var(--light-primary);
  color: var(--light-primary);
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 10;
  font-weight: 600;
  outline: none;
}

header button:hover {
  box-shadow: 0 8px 16px rgba(18, 189, 255, 0.4);
  transform: translateY(-2px);
  cursor: pointer;
  background-color: var(--light-primary);
  color: #fff;
}

.high {
  color: var(--light-primary);
  font-weight: bold;
  font-size: 20px;
}

/*section hero page main*/
section.hero-section {
  background-color: var(--dark-primary);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 120px;
  justify-content: space-between;
}

.hero-section__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-sec-des {
  line-height: 1.8;
  color: #fff;
  font-size: 16px;
}

.main_img img {
  height: auto;
  max-width: 500px;
}

.brand {
  display: flex;
}

.brand li {
  margin-right: 20px;
}

.brand li a {
  color: #fff;
  font-size: 30px;
}

.main-button {
  font-family: var(--mont-font);
  padding: 10px 20px;
  background-color: var(--light-primary);
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 10;
  font-weight: 600;
  outline: none;
  margin-right: 20px;
}

.main-button:hover {
  box-shadow: 0 8px 16px rgba(18, 189, 255, 0.4);
  transform: translateY(-2px);
  cursor: pointer;
}

.third {
  background-color: var(--secdark-primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 120px;
  margin-top: 20px;
}

.third-des {
  margin-left: 40px;
}

.nrml_txt {
  font-size: 25px;
}

.text-content {
  display: flex;
}

.inc {
  font-size: 25px;
  color: var(--light-primary);
  font-weight: bold;
  margin-left: 20px;
  position: relative;
  display: flex;
}

.inc::before {
  content: 'Frontend Developer';
  position: absolute;
  overflow: hidden;
  top: 0;
  animation: animate infinite 5s linear;
}

@keyframes animate {
  0% {
    content: 'Frontend Developer';
  }

  25% {
    content: 'Java Developer';
  }

  50% {
    content: 'Solution Architect';
  }

  75% {
    content: 'Coder';
  }

  100% {
    content: 'Frontend Developer';
  }
}

.aboutme {
  padding: 15px;
  margin: 20px 0;
  line-height: 1.5;
}

.Work-session {
  background-color: var(--dark-primary);
  padding: 50px 120px;
  color: #fff;
}

.Work-session h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 50px;
}

.service-content {
  display: flex;
  justify-content: space-between;
}

.works-session-box {
  width: 25%;
  padding: 20px;
  text-align: center;
}

.works-session-box h4 {
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.contact-section {
  background-color: var(--secdark-primary);
  padding: 50px 120px;
  color: #fff;
}

.contact-section h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 50px;
}

.contact-section form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.contact-section form input,
textarea {
  width: 60%;
  padding: 10px 20px;
  font-family: var(--mont-font);
  outline: none;
  border: 1px solid var(--light-primary);
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.contact-section button {
  font-family: var(--mont-font);
  padding: 10px 20px;
  background-color: var(--light-primary);
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 10;
  font-weight: 600;
  outline: none;
}

footer {
  background-color: var(--dark-primary);
  padding: 30px;
  text-align: center;
  color: #fff;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
  .third-des {
    margin-left: 0;
  }

  .contact-section form input,
  textarea {
    width: 80%;
  }
}

@media (max-width: 768px) {
  section.hero-section {
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
  }

  .main_img img {
    max-width: 350px;
  }

  .third {
    flex-direction: column;
    text-align: center;
  }

  .third-des {
    margin-top: 20px;
  }

  .service-content {
    flex-direction: column;
    align-items: center;
  }

  .works-session-box {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact-section form input,
  textarea {
    width: 100%;
  }
}
